*{
    margin:0;
    padding:0;
}
body{
    font-family: Areal,sans-serif;
    font-size: 13px;
}
h1{
    width: 268px;
    height: 95px;
    background-size: 100%;
    text-indent: -9999px;
    margin:0 auto;
}
.container{
    width: 580px;
    margin:0 auto;
    text-align: center;
}