#Box{
background: #80deea;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
border-radius: 5px;
box-sizing: border-box;
}
#Box1{
background: #ce93d8;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
box-sizing: border-box;
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
border-top-right-radius: 100px;
}
#Box2{
background: #c8e6c9;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
box-sizing: border-box;
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
border-top-right-radius: 100px;
-webkit-border-radius:100px;
}
#colors{
background: rgba(0,0,240,0.5);
color: white;
}
#container{
width: 900px;
height: 900px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
background: rgba(255,255,255,0.3);
}
#colGradient{
background: linear-gradient(to bottom right, #e91e63,lightblue);
width: 200px;
height: 200px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
border-radius: 5px;
}
#colGradient1{
background: radial-gradient(pink,#00bcd4,#8bc34a);
width: 200px;
height: 200px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
border-radius: 5px;
}
#colShadow{
    text-align: center;
text-shadow: 2px 2px pink;
}

#thrCol{
    -webkit-column-count:3;
    column-count: 3;
    -moz-column-count:3;
}