#Box{
background: #80deea;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
border-radius: 5px;
box-sizing: border-box;
}
#Box1{
background: #ce93d8;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
box-sizing: border-box;
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
border-top-right-radius: 100px;
}
#Box2{
background: #c8e6c9;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
box-sizing: border-box;
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
border-top-right-radius: 100px;
-webkit-border-radius:100px;
}
#colors{
background: rgba(0,0,240,0.5);
color: white;
}
#container{
width: 900px;
height: 900px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
background: rgba(255,255,255,0.3);
}
#colGradient{
background: linear-gradient(to bottom right, #e91e63,lightblue);
width: 200px;
height: 200px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
border-radius: 5px;
}
#colGradient1{
background: radial-gradient(pink,#00bcd4,#8bc34a);
width: 200px;
height: 200px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
border-radius: 5px;
}

#colGradient2{
background: radial-gradient(magenta,#00bcd4,#8bc34a);
width: 900px;
height: 900px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
border-radius: 5px;
}
#colGradient3{
background: radial-gradient(yellow,#ce93d8,#ff8a65);
width: 900px;
height: 900px;
margin: 0 auto;
box-sizing: border-box;
padding: 40px;
border-radius: 5px;
}
#colShadow{
    text-align: center;
text-shadow: 2px 2px pink;
}
#fonts{
    font-family: "Times New Roman", Times, serif;
     font-style: oblique;
 opacity: 0.5;
    filter: alpha(opacity=50);
}
#fonts:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#thrCol{
    -webkit-column-count:3;
    column-count: 3;
    -moz-column-count:3;

-webkit-column-gap:5px;
-moz-column-gap:5px;
column-gap: 5px;

-webkit-column-rule-style:solid;
-moz-column-rule-style:solid;
column-rule-style: solid;

-webkit-column-rule-color:#ffeb3b;
-moz-column-rule-color:#ffeb3b;
column-rule-color: #ffeb3b;

-webkit-column-rule-width:2px;
-moz-column-rule-width:2px;
column-rule-width: 2px;
}
div.background {
    background: url(image/1.jpg) repeat;
    border: 2px solid black;
}
div.transbox {
     border: 2px solid black;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
#anime{
background: aquamarine;
height: 200px;
width: 200px;
margin:40px auto;
padding: 40px;
border-radius: 5px;
box-sizing: border-box;
}

@keyframes anime{
    from{background-color: aquamarine;}
    to{background-color: lightpink;}
}

#colGradient3 #anime{
    animation-name: anime;
    animation-duration: 5s;
}