#header1{
background-color: lightgreen;
margin:10px;
height: 90px;
border-radius: 5px;
}
#navbar{
background-color: lightpink;
margin:10px;
height: 35px;
border-radius: 5px;
}
.main{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    font-size: 110%;
    margin-right: 320px;
     margin-top: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
}
.sideright{
background-color: lightgrey;
padding: 20px;
border-radius: 5px;
font-size: 105%
 float:right;
 width: 260px;
 margin-right: 320px;
     margin-top: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
}