body
{
    font-size: 20px;
    /*background-color: lime;*/
    background-image: url(image/bokeh2.jpg);

}
.header-container-wrapper{
background-color: #33BEBE;
}
.sansserif {
  font-family: sans-serif;
}
element-style
{
    display: flex;
background-color: #5cc0ce
}
/*{outline: 1px solid red}*/
 *{
    -webkit-box-sizing: border-box;
    moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}

.image
{max-width: 460px}
/*.description{
    color: red;
}*/

 .app {
    display: -webkit-flex;
    display: flex;
}
.container{
    width: 100%;
}

.prog li
{
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
}
.div d
{
margin-bottom:10px;
min-height: 300px;
background-color: lightpink;
text-align: center;
font-size: medium;
}
.imagec
{
    display: block;
    margin-left:auto;
    margin-right: auto;
    background-color: lightpink;
}
div abs{
    position: absolute;
    bottom: 75px;
    left:150px;
    width: 50px;
    height: 50px;
    background-color: lightpink;
    color: blue;
}
div fix{
    position: fixed;
    bottom: 75px;
    right: :150px;
    width: 50px;
    height: 50px;
    background-color: lightpink;
    color: blue;
}
.imageS{
    padding: 10px;
    border: solid 4px blue;
    margin-left: 25px;
    background-color: lightgreen;
}
.centered-container {
    display: table;
    position: absolute;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.centered-elements{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}
h1,h4 {
background-color: lightyellow;
color: blue;
    }
    h3{
        background-color: lightblue;
        color: magenta;
    }
    p{
font-size: 20px;
color: blue;
font-family: helvetica;
    }
    #p1
    {
font-size: 20px;
color: white;
font-family: helvetica;
padding: 10px;
margin:20px;
height: 120px;
overflow: scroll;
    }
h5 {
    border-bottom: 2px solid black;
}
p.me{
font-size: 20px;
color: lime;
font-family: helvetica;
background-image: url(image/bokeh6.jpg);
}
.test{
font-size: 200%;
color: pink;
font-family: Verdana, Arial;
font-weight: bolder;
text-decoration: underline overline;
font-style:italic;
background-color: rgb(20,28,100);
margin: 20px;
margin-left: 20px;
margin-right: 20px;
padding: 20px 2px 20px 20px;
border-color: aqua;
border-width: 2px;
border-style: solid;
background-image: url(image/bokeh4.jpg);
}
.underline{
    text-decoration: underline;
    text-shadow: 1px;
}

a:link
{
    color: blue;
}
a:visited
{
    color: gray;
}
a:hover
{
color: aqua;
cursor: help;
background-color: #d3d3d3;
/*
cursor: url("if_pumpkin_60817.ico"),default;*/
}
.image
{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
/*a:hover special
{
color: aqua;
cursor: url("if_pumpkin_60817.ico"),default;
}*/
#square{
    position: relative;
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    background-image: url(image/2.jpg);
}
ul{
    list-style: none;
    padding: 0;
    margin:0;
    /*display: inline;*/
}
ul li a{
    text-decoration: none;
    font-family: Georgia;
    background-color: lightyellow;
    color: red;
    display: block;
    width: 130px;
    margin:5px;
    padding: 10px;
    border: 5px solid lightpink;
    border-radius: 2px;
    text-align: center;

}
#nav{
background-color: lightgreen;
font-size: 25px;
height: 35px;
font:tahoma;
font-weight: bold;
}
#nav ul{
    padding: 0;
    margin:0;
    list-style-type:none;
    text-align: center;
}
#nav li{
    display: inline;
    padding: 15px;
    vertical-align: middle;
}
#nav a{
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    color: blue;
    vertical-align: middle;
}
.button {
background: lightgreen;
border: 2px solid yellow;
border-radius: 3px;
font:700 13px Arial;
height: 30px;
line-height: 28px;
padding: 20px;
text-align: center;
margin-right: 10px;
box-sizing: border-box;
}
#theForm{
color: white;
display: table;
padding: 1px;
background-color: lightpink;
border:2px solid purple;
}
.row{
display: table-row;
}
.row label{
    display: table-cell;
    padding: 2px;
    text-align: right;
}
.row input{
    display: table-cell;
    padding: 2px;
}
#left {

    float: left;
    padding: 15px;
    margin:10px;
    background-color: lightgreen;
}
#center {

    float: center;
    padding: 15px;
    margin:10px;
    background-color: lightpink;
}
#right {
    float: right;
    padding: 15px;
    margin:10px;
    background-color: lightyellow;
}

#right1 p:nth-child(odd) {
    float: center;
    background-color: yellow;
    color: blue;
}
/*p{
    font-weight: 4px;
}*/
/*:not(p,body,div){
    background-color: lightgreen;
}*/
p::first-letter{
    font-weight: bolder;
    font-size: 24px;
}
#p2 p:first-line{
    color:purple;
}
#left, #center, #right {
border:3px solid purple;
}
h2+p{
    color: blue;
}
h2~p{
    color: green;
    font-style: italic;
}
p[lang^="fr"]
{
    color: green;
    background-color: lightgreen;
}
p[lang="fr"]
{
    color: orange;
}
p[lang$="fr"]
{
    color: purple;
}
p[lang*="us"]
{
    background-color: lightpink;
}
#box1{
width: 150px;
height: 150px;
float: left;
margin: 10px;
padding: 15px;
opacity: 0.4;
background-color: orange;
}
#box1:hover {
    opacity: 1.0;
}
#box2{
width: 150px;
height: 150px;
float: left;
margin: 10px;
padding: 15px;
opacity: 0.4;
background-color: purple;
}
#box2:hover {
    opacity: 1.0;
}
#box3 {
    opacity: 0.5;
}
#box3:hover{
    opacity: 1.0;
}
#box4{
    width: 150px;
height: 150px;
float: left;
margin: 10px;
padding: 15px;
    background: blue;
    opacity: 0.4;
background: linear-gradient(blue,yellow);
}
#box4:hover{
    opacity: 1.0;
}