.body{
    margin:0px;
}
#container{
    width: 1200px;
    margin:0px auto;
}

#header1{
background-color: #EC407A;
margin:10px;
height:90px;
border-radius: 5px;

}
h1#header1 {
    font-size: xx-large;
    text-align: center;
    color: #f9693b;
    text-align: center;
    font-family: fantasy;
    font-style: normal;
}
p {
    margin: 0 0 5px;
    border: 3px;
    padding: 20px;
    font-style: initial;
    color: #2baee2;
    font-size: medium;
}
#navbar{
background-color: #80DEEA;
margin:10px;
height:35px;
border-radius: 5px;
font-family: fantasy;
    /* font-style: italic; */
    text-align: center;
    color: #ff8a65;
    font-size: x-large;
}
.main{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    font-size: 110%;
    margin-right: 320px;
     margin-top: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
}
.sideright{
background-color: lightgrey;
padding: 20px;
border-radius: 5px;
font-size: 105%;
 float:right;
 width: 260px;
 margin-right: 320px;
     margin-top: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
}
#footer{
    background-color: #80DEEA;
    margin:10px;
    height: 60px;
    clear: both;
    border-radius: 5px;
    text-align: center;
    clear: both;
    font-size: 90%;
    color: #f5f5f5;
    padding: 15px;
}

.h3{
    color: #b2ebf2;
    margin: 10px;
    background-color: lightpink;

}

#footer ul li a{
    display: inline;
}
.button {
background: #FFF59D;
border: 2px solid #FFAB91;
border-radius: 5px;
font:800 13px sans-serif;
height: 15px;
line-height: 28px;
padding: 20px;
text-align: center;
margin: 10px;
box-sizing: border-box;
color: darkturquoise;
}
.button:hover{
color: darkmagenta;
border:aqua;
background-color: #d3d3d3;
}